<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>🐦Дятел. Telegram phone input</title>

</head>
<body>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92703690, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92703690" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <h1>Введите номере телефона, привязанный к аккаунту телеграм</h1>
    <h4>Пример ввода: +79007776655</h4>
    <form method="post" action="{% url 'app_users:input_tlg_phone' %}">
        {% csrf_token %}
        {{ phone_form.phone_number }}
        {{ phone_form.phone_number.errors }}
        <button type="submit">Получить код</button>
    </form>
</body>
</html>