<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>🐦Дятел. Пароль 2-ФА</title>

</head>
<body>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92703690, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92703690" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <h1>Введите пароль двух факторной аутентификации.</h1>
    <form method="post" action="{% url 'app_users:input_2fa_pass' %}">
        {% csrf_token %}
        <input type="text" name="phone_number" value="{{ phone_number }}" readonly="readonly">
        <h4>Подсказка: {{ pass_hint }}</h4>
        <input type="hidden" name="pass_hint" value="{{ pass_hint }}">
        {{ two_factor_form.two_fa_pass }}
        {{ two_factor_form.two_fa_pass.errors }}
        <button type="submit">Подтвердить</button>
    </form>
</body>
</html>